.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: #eb0028;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loader-container.loading {
  opacity: 1;
  visibility: visible;
}

.loading-icon {
  /* Remove font-size and font-weight properties */
  /* font-size: 20rem;
  font-weight: bold; */
  color: #eae6e6;
}

.loading-icon.zoom {
  animation: zoomOut 6s ease-in-out forwards;
  animation-delay: 3s;
}

.svg-icon {
  /* Add any styling you want for the SVG */
  width: 30vw; /* Adjust according to your SVG size */
  height: 30vh; /* Adjust according to your SVG size */
  fill: #eae6e6; /* Change fill color if needed */
}

@keyframes zoomOut {
  0% {
    transform: scale(3);  
  }
  100% {
    transform: scale(800);
  }
}
