.logopath {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
}
.thoughtloom-firse svg{
    width:100%;
    height:100%;
    background-color: #eb0028;
}
.whitelight {
    stroke-width: 3;
    animation: letter-animation 3s linear forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

.logopathtext2 {
    /* stroke-width: 3; */
    animation: letter-animation 3s linear forwards;
    animation-delay: 2.5s;
    animation-timing-function: ease-in;

}

.logopathtext3 {
    /* stroke-width: 3; */
    animation: letter-animation 3s linear forwards;
    animation-delay: 3.5s;
    animation-timing-function: ease-in;
}

.stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    animation: showfill 1s linear forwards;
    animation-delay: 3.5s;
    animation-timing-function: ease-in;
}

@keyframes letter-animation {
    0% {
        stroke-dashoffset: 2600;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.thoughtloom-firse svg path {
    stroke: #fff !important;
    stroke-width: 1px !important;

}

@keyframes showfill {
    from {
        fill: #EB0028;
    }

    to {
        fill: #fff;
    }

}

.loader {
    /* text-align: center; */
    background-color: #000;
    width: 100%;
    height: 100vh;
}

svg {
    margin: auto;
    height: 30vh;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
    background-color: #000;
}
.whitelight {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
@media screen and (max-width: 800px) {
    svg {
        top: 48%;
        left: 54%;
        margin: auto;
        height: 20vh;
        position: fixed;
        z-index: 10000;
        transform: translate(-50%, -50%);
    }
}