.speaker{
    height: max-content;
    height: 100vh;
   z-index: 0;
  overflow: hidden;
    position: relative;
    font-family: "Poppins", sans-serif;
}
.containerofspeaker{
    background-color: #eae6e6;
    position: relative;
   overflow-y: hidden;
}
.speakers-container{
    height: max-content;
}

.speaker-component{
    position: relative;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.speaker-image{
    width: 400px;
    height: 500px;
    z-index: 7;
   background-color: #d9d9d9;
   transform: translate(calc(215%),calc(25%));
}
.speaker-heading{
    position: fixed;
    bottom: -10%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    transform: translateX(-50%);
    background-color:transparent; /* Adjust this as needed */
    padding: 10px;
    z-index: 1; /* Ensure the heading is above the speakers */
    font-size: 96px;
    color: black;
    font-weight: bold;
    animation: slideUp 0.5s ease forwards;
}
.speaker-desc{
    position: absolute;
    width: 450px;
    height: max-content;
    text-align: left;
   
    font-weight: 300;
    z-index: 8;

 
    top:35%;
    left:30%;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.speaker-component {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .speaker-component.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .slide-in-left {
    animation: slideInLeft 1s forwards;
    opacity: 0;
    transform: translateX(-50px);
  }
  
  .slide-in-right {
    animation: slideInRight 1s forwards;
    opacity: 0;
    transform: translateX(50px);
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
