.heropg{
    background-color: #eae6e6;
    /* background-color: #d9d9d9; */
    position: relative;
    /* top: 5vh; */
    color: black;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    z-index:15;
    height:100vh;
    /* overflow: hidden; */
    /* padding: 3rem; */
    /* padding: 0 4rem 0 4rem; */
}
.hero-video, .flower{
    /* background-color: #fad648; */
    border-radius: 25px;
    /* padding-bottom: 0; */
    padding: 0;
    /* width: 40vw; */
    z-index:0;
    /* flex:1; */
}


.hero-video video{
    /* height: 90vh; */
    height: 80vh;
    width: 30vw;
    border-radius: 40px;
    object-fit: cover;
}
.hero-text{
    z-index: 2;
    /* flex-grow: 1; */
    /* flex:1; */
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    gap: 1rem;
    /* padding: 5rem; */
    /* float: left; */
}
.mainliner{
    font-size: 6.5rem;
    /* font-size: 118px; */
    line-height: 6rem;
    /* opacity: 0; */
    /* display: flex; */
    /* flex-direction: column; */
}
.subliner{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.tedxlogo img{
    width: 20vw;
    position: relative;
    right: -1vw;
}
.redtext{
    color:#eb0028;
}
.bold{
    font-weight: 700;
}
.svg-container{
    position: absolute;

}
.lineimg{
    position: absolute;
    left: 10vw;
    top: -15vh;
    z-index: 1;
}
.lineimg img{
    width: 90vw;
    height: 150vh;
    transform: rotate(351deg);
    overflow: hidden;
}
.svglines svg{
    /* position: absolute; */
    /* height: 70vh; */
    width: 50vw;
    z-index: 1;
    width: 70vw;
    z-index: 1;
    left: 20vw;
    top: -10vw;
}
@media screen and (max-width: 750px) {
    .heropg{
        flex-direction: column-reverse;
        height: 100vh;
        /* padding: 1rem; */
        padding: 2rem 0rem;
    }
    .hero-video video{
        width: 85vw;
        height:60vh;
    }
    .hero-text{
        z-index: 2;
        width:85vw;
        /* flex-grow: 1; */
        text-align: left;
        align-items: flex-start;
        /* padding: 1rem; */
        gap: 0.5rem;
        /* float: left; */
    }
    .mainliner{
        font-size: 2.5rem;
    line-height: 2.4rem;
    text-align: left;
    }
    .subliner{
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: left;
    }
    .lineimg{
        position: absolute;
        left: -58vw;
        top: -12vh;
     z-index:1;
    
    }
    .lineimg img{
        width: 175vw;
    height: 87vh;
    transform: rotate(90deg) rotate(313deg);
    }
    .tedxlogo img{
        width: 40vw;
        position: relative;
        left: -1vw;
    }
    .flower{
        position: relative;
    }
.herowhiteflower img, .heroredflower img, .lineimg img {
    max-width: none;
}
.heroredflower,  .heroredflower{
    z-index: 100;
}
.herowhiteflower img {
    /* opacity: 0; */
    position: absolute;
    width: 28vh;
    z-index: 100;
    /* transform: translate(15vw, 35vh); */
    left: -47vw;
    top: -5vh;
}

.heroredflower img{
       /* opacity: 0; */
       width: 22vh;
       position: absolute;
       z-index: 100;
       top: -21vh;
       left: 1vw;
   
}
.heroyellow2 hr {
    position: absolute;
    /* transform: translate(39vw, 10vh); */
    width: 92vw;
    height: 25vh;
    background-color: #fad648;
    border-radius: 5vh 5vh 5vh 5vh;
    border-color:  #fad648;
    z-index: -1;
    left: -46vw;
    top: -12vh;
;
}
}