@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.jay {
  background-color: #eae6e6;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.left-text,
.place,
.place2,
.date,
.reveal-text {
  font-family: 'Poppins', sans-serif;
}

.svg-container {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
    transform: scale(0.6) translate(-60%, 300px);
    position: relative; /* Ensure the circle is positioned relative to its parent */
    z-index: 4; /* Set a higher z-index value for the circle */
}

.person {
    height: 500px;
    position: relative; /* Ensure the image is positioned relative to its parent */
    transform: translate(-270%,0);
    z-index: 5;
}

.whiteStroke {
    position: relative;
    bottom: 0;
    transform: translate(-122%,105%);
    z-index: 2;
}

.rainbow{
    position: relative;
    transform: translate(105%,60%) scale(1.4);
    z-index: 3;
}

.mask-box{
  width: 700px;
  height: 600px;
  background-color:white;
  transform: translate(170%,50%);
  z-index: 4;
  position: relative;
}

.mask-box-2{
  width: 1000px;
  height: 600px;
  background-color:#eae6e6;
  z-index: 1;
  position: absolute;
  top : 0;
  left:0;
  transform: translate(20%,80%);
  z-index: 2;
}

.thoughtloom-container{
  position: absolute;
  transform: scale(0.8) translate(-50%);
  bottom: 0;
  left: 50%;
  z-index: 4;
}

.second-trigger{
  position: absolute;
  right:0;
  top:40%;
  height: 100vh;
  width: 10px;
  z-index: 10;
}

.top-text{
  position: absolute;
  top:0;
  left:3%;
  z-index: 10;
  font-weight: normal;
  margin-top: 1%;
  width: 90vw;
  font-size: 2vw;
}

.left-text {
  position: absolute;
  left:0;
  top:40%;
  z-index: 10;
  margin-left: 1%;
  font-size: 10%;
  line-height: 0.3;
}

.place{
  font-weight: bold;
  /* transform: translate(0px,-80px); */
}

.place2{
  font-weight: bold;
  /* transform: translate(0px,-160px); */
}

.text-box{
  z-index: 4;
  position: absolute;
  top:30%;
  left:1%;
  display: flex;
  flex-direction: column; /* Change from row to column */
  justify-content: flex-start; /* Aligns items to the left */
  align-items: flex-start;
  margin-left: 2%;
  }

.reveal-text {
    margin: 0px 0; /* Adjust the top and bottom margin as needed */
  }

.date{
  font-weight: normal;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 3.5vw;
	animation-name: clip-text;
	color: #000000;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}



@media only screen and (max-device-width: 768px) {
  .thoughtloom-container{
    transform: scale(0.4) translate(-120%,50%);
  }
  .top-text{
    transform: scale(1.5);
    margin-left: 15%;
    margin-top: 10%;
    width: 40vw;
  }
  
  /*
  .text-box{
    transform: scale(1.6) translateY(-60px);
    margin-left: 30px;
  }

  .top-text{
    transform: scale(1.5);
    margin-left: -10px;
  }

  .svg-container{
    transform: translate(-50px);
  }

  .rainbow{
    transform: translate(530px,280px);
  }

  .mask-box{
    transform: translate(1200px,300px);
  } */

  .person{
    transform: translate(-290%,20%) scale(0.7);
  }

  .circle{
    transform: translate(-76%,150%);
  }

  .whiteStroke{
    transform: translate(-127.5%,136%);
  }

  .mask-box-2{
    transform: translate(80%,100%);
  }
  .rainbow{
    transform: translate(73%,85%);
  }

  .mask-box{
    transform: translate(160%,70%);

  }

  .text-box{
    transform: scale(1.6) translateY(20%);
    margin-left: 15%;
    margin-top: 15%;
  }
}