@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.jay {
  background-color: #eae6e6;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;
  position: relative;
  z-index: 3;
}
.scroller{
  position: relative;
  z-index: 1;
}

.svg-container {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
    transform: scale(0.6) translate(-1vw, 320px);
    position: relative; /* Ensure the circle is positioned relative to its parent */
    z-index: 4; /* Set a higher z-index value for the circle */
}

.person {
    height: 500px;
    position: relative; /* Ensure the image is positioned relative to its parent */
    z-index: 2; /* Set a higher z-index value for the image */
    transform: translate(-15vw  ,0);
    z-index: 5;

}

.whiteStroke {
    position: relative;
    bottom: 0;
    transform: translate(-930px,590px);
    rotate: 2deg ;
    z-index: 2;
}

.rainbow{
    position: relative;
    transform: translate(650px,280px) scaleX(2.2) scaleY(1.5);
    z-index: 3;
}

.mask-box{
  width: 1080px;
  height: 600px;
  background-color:#eae6e6;
  transform: translate(1065px,300px);
  z-index: 4;
  position: relative;
}

.mask-box-2{
  width: 1000px;
  height: 600px;
  background-color:#eae6e6;
  z-index: 1;
  position: absolute;
  top : 0;
  left:0;
  transform: translate(49px,500px);
  z-index: 2;
}

.thoughtloom-container{
  position: absolute;
  transform: scale(0.8) translate(-50%);
  bottom: 0;
  left: 50%;
  z-index: 4;
}

.second-trigger{
  position: absolute;
  right:0;
  top:40%;
  height: 100vh;
  width: 10px;
  z-index: 10;
}

.top-text{
  position: absolute;
  top:30px;
  left:50%;
  transform: translate(-50%);
  font-size:1.5rem;
  line-height:1.7rem;
  z-index: 10;
  padding: 10px;
  width: 70vw;
  font-weight: normal;
  /* margin-top: 7vh; */
  /* font-size: 20px; */
  font-family: "Poppins";
}

.left-text {
  position: absolute;
  left:0;
  top:40%;
  z-index: 10;
  margin-left: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  line-height: 0.3;
}

.place{
  font-weight: bold;
  /* transform: translate(0px,-80px); */
}

.place2{
  font-weight: bold;
  /* transform: translate(0px,-160px); */
}

.text-box{
  z-index: 4;
  position: absolute;
  top:40vh;
  left:20px;
  display: flex;
 gap:0.5rem;
  flex-direction: column; /* Change from row to column */
  justify-content: flex-start; /* Aligns items to the left */
  align-items: flex-start;
  margin-left: 20px;
  }
.text-box h1{
  font-size:2rem;
  line-height:1.5rem;
}
.reveal-text {
    margin: 0px 0; /* Adjust the top and bottom margin as needed */
  }

.date{
  font-weight: normal;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 3.5vw;
	animation-name: clip-text;
	color: #000000;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #feab03;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

@media screen and (max-device-width: 768px) {
  .thoughtloom-container{
    transform: translate(-50%);
    width: 80vw;
  }


  .top-text{
    position: absolute;
    top: 5;
    /* margin-left: 10px; */
    /* font-size: 15px; */
    width: 90vw;
    /* left: 45%; */
    /* transform: translate(-50%); */
  }
  
  
  .text-box{
    top: 30vh;
    /* left: 14vw; */
  }
  .text-box h1 {
    font-size: 21px;
    line-height: 21px;
}

  .svg-container{
    transform: translate(-50px);
  }

  .rainbow{
    transform: translate(530px,180px);
    margin-top: 150px;
  }

  .mask-box{
    transform: translate(1200px,300px);
  } 

  .person{
    transform: translate(-220px,20px) ;
  }

  .circle{
    
    transform: translate(-660px,290px);
    height: 350px;
  }

  .whiteStroke{
    transform: translate(-960px, 670px);
    scale: (0.5);
  }

  .mask-box-2{
    transform: translate(800px,500px);
  }
  .rainbow{
    transform: translate(400px,220px);
  }

  .mask-box{
    transform: translate(1050px,300px);
  }

}

@media screen and (max-device-width: 400px){
  .top-text{
    font-size: 19px;
    line-height: 20px;
    top:1vh;
  }
  .text-box{
    top:20vh;
    left:0;
  }
  
}