body {
    font-family: sans-serif;
}
h1, body {
    margin: 0;
}
button:focus {
    outline: 0;
}
.o-mslider {
    --scroll-perc: 0;
    --scroll-vel: 0;
    --scroll-y: 0;
    --title-size: calc(1/13 * 100vh);
    background-color: #eae6e6;
    position: relative;
    overflow: hidden;
    z-index: 0;
    min-height: max-content;
}



.o-mslider__title {
    z-index: 50;
    position: fixed;
    top: 8%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: exclusion;
}
.o-mslider__title span {
    position: absolute;
    top: 0;
    left: -2%;
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: var(--title-size);
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    will-change: transform;
    transform-origin: 50% 100%;
}
.o-mslider__list {
    list-style: none;
    margin: 0%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
   
    width: 100%;
    padding-top: calc(10vh - var(--title-size));
    padding-bottom: var(--title-size);
    overflow: hidden;
}
.o-mslider__item {
    --size: calc(9.2/10 * 100vw);
    width: var(--size);
    height: 85vh;
    margin-top: 55%;
    z-index: 5;
    padding-top: calc(var(--size) * 2/3);
  /* border: 2px solid black; */
    overflow: hidden;
      transform:  skewY(calc(var(--scroll-y) * var(--scroll-vel) * 2deg));
}

.o-mslider__item:first-child {
    margin-top: 0%;
}
.o-mslider__img {
    position: absolute;
    z-index: 1;
    opacity: 0;
    background-color: rgb(104, 47, 34);
    box-shadow: -10px 10px 0px 0px #FFD116;
    top: 10%;
    left: 18%;
    border-radius: 10%;
    display: block;
    width: 219px;
    height: 262px;
    object-fit: cover;
    object-position: 50% 50%;
    transform: scale(1.1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.mspeaker-desc{
    position: absolute;
    top: 69%;
    left: -120%;
    width: 300px;

  
font-size: 21px;
font-weight: 300;
text-align: center;
}
.mspeaker-name p{
    color: black;
}
.mSpeaker-name{
    position: absolute;
    top: 15%;
   right: -80%;
    z-index: 2;
    width: 200px;
    display: inline-block;
    line-height: 40px;
    text-align: right;
    display: flex;
   flex-direction: row;
    font-size: 36px;
    font-weight: bolder;
}
.lin{
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 110%;
    left: 19%;
    gap: 3px;
    
    justify-content: right;
}
.mprogress-bar {
    position: relative;
    height: 200px; /* Adjust height as needed */
    z-index: 1;
  }
  
  .mprogress {
   position: fixed;
    top: 80%;
    left: -10px;
    height: 7%;
    z-index: 1;
    background-color: none;
    border-top-right-radius: 999rem;
    border-bottom-right-radius: 999rem;
    background-color: #FFD116;
    transition: 1s forwards;
  }
  .myear{
   position: absolute;
   width: 150px;
   padding: 10px 20px;
   border-radius: 999rem;
   font-size: 21px;
  right: 0;
   transform: translateY(270%);
}
.option:hover {
    background-color: yellow;
  }
.maryan-style .mSpeaker-name{
    top:10%;
    font-size: 25px;
    line-height: 34px;
}


.mspeaker-desg{
    position: absolute;
    width: 300px;
    opacity: 0;
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
    top: 55%;
    left: 10%;
    
   font-size: 21px;
   font-weight: bold;
}

.makshay-style .o-mslider__img{
    transform: scaleX(-1);
     box-shadow: 10px 10px 0px 0px #FFD116;;
}
.mbhaskar-style .mSpeaker-name{
 font-size: 28px;
 line-height: 35px;
 top: 12%;
}
.mbhaskar-style .lin{
    left: 35%;
}
.maryan-style .lin{
    left: 37%;
}
.mvineet-style .mspeaker-desc{
  top: 65%;
}
.mvineet-style .lin{
    left: 45%;
}
.mabhijit-style .mSpeaker-name{
    right: -90%;
}
.mabhijit-style .lin{
     left: 28%;
}
.makshay-style .mSpeaker-name{
    right: -90%;
}
.makshay-style .lin{
    left: 27%;
}
.mAbhishek-style .mSpeaker-name{
    right:-85%
}
.mAbhishek-style .lin{
left: 41%;
}
.Ella .mSpeaker-name{
 right: -88%;
}
.Ella .mspeaker-desc{
    top: 65%;
}
.mragini .lin{
left: 40%;
}
.mragini .mspeaker-desc{
    font-size: 19px;
    top: 65%;
}

.mreveal .mSpeaker-name{
   right: -250%;
}
.mreveal .mspeaker-desc{
    top:50%;
    font-size: 60px;
    font-weight: bolder;

}
.mreveal .o-mslider__title{
   background-color: bisque;
}
.custom-title-style span{
    left: 25%;
}