.meet_our_team-heading{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    z-index: 0;
}

.meet_our_team-heading_words{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: row;
    justify-self: center;
    color: #eb0028;
    font-size: 270px;
    font-weight: 900;
}
.meet_our_team-meet{
    transform: translateY(-2vh);
}
.meet_our_team-our{
    transform: translateY(-32vh);
}
.meet_our_team-team{
    transform: translateY(-62vh);
}
.word{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(40px);
}

@media screen and (max-width:481px) {
    .meet_our_team-heading{
        display: flex;
        flex-direction: column;
        width: 390px;
        left: 50%;
        margin-left: -185px;
        top: 19vh;
    }
    .meet_our_team-heading_words{
        font-size: 140px;
    }
    .meet_our_team-our{
        margin-top: 70%;
    }
    .meet_our_team-team{
        margin-top: 70%;
    }
}